.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about > table, .about > form > table{
    background-color: gainsboro;
    text-align: left;
}

.about > form table > tr > td, .about > table > tr > td {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 5px;
    width: 500px;
}

.about > form > table > tr > .td, .about > table > tr > .td{
    width: 10px;
}
